html{
    margin: 0;
    padding: 0;
    font-size: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}

a{
    text-decoration: none;
}

h2{
    margin: 0;
    padding: 0;
}

.layout{
    margin: 0;
    width: 100%;
    font-size: 17px;
}

.no-scroll{
    overflow: hidden;
}

.main-layout{
    width: 99vw;
    display: flex;
}

.hiddenMenu{
    transition: 0.5s;
}

.menu-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 45%;
}

.menu-text a{
    color: white;
    font-size: 3em;
    cursor: pointer;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 1.5em;
}

.close{
    width: 30px;
    height: 30px;
    color: white;
    position: absolute;
    top: 20%;
    right: 40%;
    font-size: 2em;
    cursor: pointer;
}

.close img{
    width: 100%;
    height: 30px;
    color: white;
}

.showMenu{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.left-section{
    flex: 2;
}

.section{
   flex: 8;
    height: 100%;
    position: relative;
    padding-right: 20%;
}

/*      header start        */

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    flex: 1;
    width: 100px;
    height: 100%;
    text-align: center;
}

.header .logo img{
    width: 100px;
    height: 80px;
}

.header .gnb{
    flex: 8;
    height: 80px;
    position: relative;
}

.header .gnb span{
    position: absolute;
    top: 40%;
    right: 30px;
    text-align: center;
}

.header .menu{
    flex: 1;
    width: 50px;
    height: 100%;
    position: relative;
}

.line-box{
    width: 25px;
    height: 16px;
    position: relative;
    top: 40%;
    left: 40%;
    cursor: pointer;
}

.line-box img{
    width: 100%;
    height: 100%;
}


/*          header end      */

.tel-section{
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
}

.tel-section .tel-box{
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.tel-section .tel-box h2{
    margin-bottom: 10px;
}

    /*텍스트박스*/
.form-control{
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
}
/*보기*/
.text-primary{
    color: blue;
    cursor: pointer;

}

    /*문의하기 버튼*/
.btn-primary{
    height: 40px;
    background: dodgerblue;
    color: white;
    margin-top:20px;
}
.main{
    width: 100%;
}

.main .home-container{
}

/*                  상담순서 박스             */

.home-container .step-box{
    width: 100%;
    height: 30vh;
    position: relative;
    padding: 0;
    margin: 0;
}

.title{
    height: 30px;
    font-size: 20px;
    font-style: oblique;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    /*background: rgba(182,211,216,0.7);*/
}

.icon-list{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1.5em;
    text-align: center;
}

.icon-list li{
    margin-top: 50px;
}



.fa-solid .fa-angle-right{
    color: lightgray;
}

.icon-list .fa-solid{
    color: cornflowerblue;
    font-size: 3em;
}


.icon-list .icon-text{
    margin-top: 20px;
}


.main .photo-container{
    height: 100vh;
    display: flex;
}

.photo-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.photo-frame{
    width: 100%;
    overflow: hidden;
    border-radius: 30px;
}

#post-1{
    width: 470px;
    height: 410px;
}

#post-2{
    width: 690px;
    height: 410px;
}

#post-3{
    width: 690px;
    height: 410px;
}

#post-4{
    width: 470px;
    height: 410px;
}

.photo-frame img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.photo-frame img:hover{
    transform: scale(110%);
}

.post-sub{
    position: relative;
}

.post-sub-text{
    width: 100%;
    position: absolute;
    bottom: 3px;
    background: linear-gradient(to bottom,rgba(0,0,0,.5) 0,rgba(0,0,0,0) 100%);
    padding: 10px 10px;
    color: white;
    text-align: center;
}

 /*             footer          */
.footer{
    padding-top: 20px;
    width: 100%;
    height: 150px;
}

.footer-box{
    width: 100%;
    height: 100%;
    color: gray;
    text-align: center;
    line-height: 25px;
}



/*모바일 모드*/
@media(max-width: 414px) {
    .header {
        width: 98vw;
        height: 40px;
        /*border: 1px solid crimson;*/
        justify-content: space-between;
    }

    .header .logo {
        width: 50px;
        height: 40px;
    }

    .header .logo img {
        width: 50px;
        height: 40px;
    }

    .header .gnb {
        flex: 5;
        height: 40px;
    }

    .header .gnb span {
        top: 30%;
        right: 40px;
    }

    .line-box {
        top: 30%;
    }

    .close {
        top: 10px;
        right: 2%;
    }

    .menu-text {
        top: 15%;
        left: 28%;
    }


    /*              header end        */
    /*문의하기 창은 안보이게 처리*/
    .tel-section {
        display: none;
    }

    .home-container .step-box {
        width: 95vw;
        height: 100px;
    }

    .title {
        height: 10px;
        font-size: 15px;
        padding-bottom: 0;
    }

    .icon-list {
        width: 95vw;
        height: 40px;
    }

    .icon-list li {
        margin-top: 0;
    }

    .icon-list .fa-solid {
        font-size: 1.5em;
    }

    .icon-list .icon-text {
        margin-top: 0;
        font-size: 0.3em;
    }

    .board-box {
        padding: 0;
        width: 95vw;
        height: 30px;
        margin-bottom: 10px;
    }

    .main .photo-container {
        width: 95vw;
        height: 100%;
    }

    .photo-box {
        width: 100%;
        justify-content: space-evenly;
    }

    .photo-frame {
        width: 95vw;
        height: 200px;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .photo-frame img {
        width: 100%;
        height: 100%;
    }

    #post-1 {
        width: 100%;
        height: 200px;
    }

    #post-2 {
        width: 100%;
        height: 200px;
    }

    #post-3 {
        width: 100%;
        height: 200px;
    }

    #post-4 {
        width: 100%;
        height: 200px;
    }

    .post-sub-text {
        font-size: 14px;
    }

    /*footer*/
    .footer {
        padding-top: 10px;
        position: relative;
        width: 100%;
        height: 100px;
    }

    .footer-box {
        width: 100%;
        height: 100%;
        font-size: 0.5em;
        line-height: 15px;
    }
}

/*              태블릿 (아이패드 에어, 미니)       */
    @media(max-width: 820px) {
        .header{
            width: 98vw;
            height: 60px;
            justify-content: space-between;
        }

        .header .logo{
            width: 50px;
            height: 60px;
        }

        .header .logo img{
            width: 100%;
            height: 100%;
        }

        .header .gnb{
            flex: 7;
        }

        .header .gnb span{
            top: 25%;
            right: 0;
        }

        .line-box{
            top: 34%;
        }

        .close{
            top: 20px;
            right: 4%;
        }

        .menu-text{
            left: 40%;
        }

        /*  header end  */

        .tel-section{
            display: none;
        }

        .home-container .step-box{
            height: 200px;
        }

        .main .photo-container{
            width: 100%;
            height: 100%;
        }

        .photo-box{
            width: 100%;
            height: 1800px;
            justify-content: space-between;
            padding: 0 10px;
        }

        .photo-frame{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .photo-frame img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

        .post-sub {
            width: 100%;
        }

        #post-1 {
            width: 100%;
            height: 400px;
        }

        #post-2 {
            width: 100%;
            height: 400px;
        }

        #post-3 {
            width: 100%;
            height: 400px;
        }

        #post-4 {
            width: 100%;
            height: 400px;
        }

        /*footer*/
        .footer{
            padding-bottom: 50px;
        }



    }

